/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    
}
h1 {
    margin-bottom: 30px;
    text-align: center;
}
.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.main_container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.dropdown_block{
    display: flex;
}


label {
    display: block;
    margin-top: 10px;
    /* width: 75%; */
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button {
    width: 150px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}
button:hover {
    background-color: #218838;
}

/* Calendar */
.calendar-container, .time-container {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin: 0 2%;
}

#time-slots {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-slot {
    padding: 10px;
    margin: 5px 0;
    width: 80%;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.time-slot.active {
    background-color: #28a745;
    color: white;
    border-color: #28a745;
}

